%flex-direction {
    display: flex;
    flex-direction: column;
}

%flex-center {
    justify-content: center;
    display: flex;
    align-items: center;
}
@mixin breakpoint($name){
    @if map-has-key($breakpoint, $name){
        @media #{inspect(map-get($breakpoint, $name))}{
            @content;
        }
    }
    @else {
        @warn "Não foi possivel entrar um breakpoint com o nome`#{name}`.";
    
    }
    } 
