--- 
layout: default
---
<header class="header__teste home__menu">


        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="logo__div">
        <a class="logo__link" href="#">
         <img class="logo__header" src="assets/img/logo.png">
         </a>
        </div>
    
        <nav class="nav__conteudo">
            <a class="nav__link" href="{{site.baseurl}}">Home</a>
            <a class="nav__link" href="{{site.baseurl}}blog">Blog</a>
            
        </nav>
    
        
    </header>


<div class="container">

    <div class="artigo one figure">
        <div class="content">post's</div>
        <div class="wrapper"></div>
    </div>

    <div class="nav">
        <strong class="post__h1">Últimos Posts</strong>
    </div>


    <div class="main">
       
        <ul class="lista">
                {% if site.posts.size == 0 %}
                <h3 class="">No posts found </h3>
                {% else %} {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">
                    <div class="round">
                        <div class="tes">
                            <p>
                                <time>{{ post.date | date_to_string }}</time>
                            </p>
                        </div>

                    </div>
                    <div class="titulo__div">
                        <h2 class="titulo">

                            {{ post.title }}

                        </h2>

                        <p class="descricao">
                            {{ post.description}}
                        </p>
                    </div>
                  
            </li>
            {% endfor %} {% endif %}
        </ul>

    </div>
</div>