---
layout: main
---



<div class="container">

    <div class="artigo one figure">
        <div class="content">post's</div>
        <div class="wrapper"></div>
    </div>

    <div class="nav">
        <strong class="post__h1">Últimos Posts</strong>
    </div>


    <div class="main">
       <!--
        <ul class="lista">
                {% if site.posts.size == 0 %}
                <h3 class="">No posts found </h3>
                {% else %} {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">
                    <div class="round">
                        <div class="tes">
                            <p>
                                <time>{{ post.date | date_to_string }}</time>
                            </p>
                        </div>

                    </div>
                    <div class="titulo__div">
                        <h2 class="titulo">

                            {{ post.title }}

                        </h2>

                        <p class="descricao">
                            {{ post.description}}
                        </p>
                    </div>
                  
            </li>
            {% endfor %} {% endif %}
        </ul>-->

    </div>
</div>