<section id="about">
  <div class="about__section">
    <a href="#"> <img class="about__logo" src="assets/img/logo.png"></a>

    <p class="about__p">MY FIRST CONTACT WITH DEVELOPMENT WAS IN A COURSE</p>
    <p class="about__p">WEB DESIGN WHERE I DID MY FIRST</p>
    <p class="about__p">"HELLO WORLD"</p>
    <p class="about__p">AND IT WAS INCREDIBLE! AFTER THAT I DID NOT STOP ...</p>
    <h1 class="about__h1"><span class="about__span">#1 </span>Skill</h1>
   <div class="alinhar">
    <div class="about__skill">
      <div class="abount__spin">
        <div class="spin">
          <div class="front">
              <i class="fa fa-github" aria-hidden="true"></i>
              
            <!--<img src="../assets/img/git.png" alt="css">-->
          </div>
          <div class="back">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="about__skill">
      <div class="abount__spin">
        <div class="spin">
          <div class="front">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
          <div class="back">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="about__skill">
      <div class="abount__spin">
        <div class="spin">
          <div class="front">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
          <div class="back">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="about__skill">
      <div class="abount__spin">
        <div class="spin">
          <div class="front">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
          <div class="back">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="about__back"></div>