
  <section id="about">
    <div class="sobre__section">
    <a href="#"> <img class="sobre__logo" src="assets/img/logo.png"></a>
  
    <p class="sobre__p">MY FIRST CONTACT WITH DEVELOPMENT WAS IN A COURSE</p>
    <p class="sobre__p">WEB DESIGN WHERE I DID MY FIRST</p>
    <p class="sobre__p">"HELLO WORLD"</p>
    <p class="sobre__p">AND IT WAS INCREDIBLE! AFTER THAT I DID NOT STOP ...</p> 
     <h1 class="sobre__h1"><span class="sobre__span">#1 </span>Skill</h1>
<div class="sobre__skill">
  <div class="test">
    <div class="abount__spin">
      <div class="spin">
        <div class="front">
          <img src="../assets/img/git.png" alt="css"> 
        </div>
        <div class="back">
          <img src="../assets/img/css.png" alt="css">
        </div>
        <div class="front">
          <img src="../assets/img/git.png" alt="css"> 
        </div>
        <div class="back">
          <img src="../assets/img/css.png" alt="css">
        </div>
      </div>
    
    </div>
  </div>
</section>
<div class="sobre__back"></div>





