<section id="blog">
    <div class="container">
        <div class="figure">
            <span>Posts</span>
        </div>
        <div class="nav">
            <div class="box">
                <div class="drop">
                    <button class="dropbtn">Categoria
                        <i class="fa  fa-chevron-down" aria-hidden="true"></i>
                    </button>
                    <div class="fundo">
                        <a href="#">Artigo sobre Beckend</a>
                        <a href="#">Artigo sobre Full</a>
                        <a href="#">Artigo sobre Front End</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <ul>
                <strong>Últimos Posts</strong>
                <li>
                        <div class="round">
                                <div class="tes">
                                        <p>21/21/21</p>
                                </div>
                               
                    </div>
                    <h2>
                        <a href="https://andre-mendes.github.io/blog/">
                            Titulo
                        </a>
                    </h2>
                    <p>Descrição Descrição Descrição Descrição Descrição Descrição Descrição </p>
                </li>
            </ul>
        </div>
    </div>
</section>