<section id="blog">
<div class="container">
    <header class="box"></header>
    <nav class="box"></nav>
    <figure class="box"></figure>
    <main class="box"></main>
    <div class="lateral"></div>
    <div class="aux"></div>
    <footer class="box"></footer>
</div>





   <div class="cont">
    <div class="blog">
       <div class="position">
        <h1>Artigo</h1>
        <h3>Novidades de algumas coisas</h3>
        </div>
    </div>

    <div class="fungo">
    <div class="drop">
        <button class="dropbtn">Categoria</button>
        <div class="fundo">
            <a href="#">Artigo sobre Beckend</a>
            <a href="#">Artigo sobre Full</a>
            <a href="#">Artigo sobre Front End</a>
        </div>
    </div>
</div>
</div>
  </section>
 