<section id="blog">
<div class="container">
    <div class="box figure"></div>
    <div class="box nav">
            <div class="cont">
                    <div class="fungo">
                    <div class="drop">
                        <button class="dropbtn">Categoria</button>
                        <div class="fundo">
                            <a href="#">Artigo sobre Beckend</a>
                            <a href="#">Artigo sobre Full</a>
                            <a href="#">Artigo sobre Front End</a>
                        </div>
                    </div>
                </div>
                </div>


    </div>
    <div class="box main"></div>
</div>

  </section>
 