<div class="container"> 
<div class="conteudo">
	
<section id="contatct">
 <div class="contatc">
	<div class="contato">
		<h1>CONTACT</h1>
		<p>Curtiu? Só entrar em contato aqui do lado ou</p>
		<p>Mande-me um e-mail, que tal?</p>
		<a href="">tangrianekolisnichenco@gmail.com</a>
		<span> Tel: (44) 99964-0744</span>
	</div>

	<div  class="formulario">
	<form>
		<div class="input">
		<input class="input1" type="text" placeholder="Nome" name="name">
		<input type="text"  placeholder="E-mail" name="email">
		</div>
		<input class="input-assunto" placeholder="Assunto"type="text" name="assunto">
		<textarea type="text" placeholder="Mensagem">  </textarea> 
	</form>
		<button>Send</button>
	</div>
</div>

	<div class="icons">
	 <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	 <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
	 <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
	 <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
	 </div>

</section>
</div>
</div>

<div class="backCon "></div>


