
	
<section id="contact__section">
 <div class="contato">
	<div class="contatc">
		<h1 class="contact__h1">CONTACT</h1>
		<p class="contact__p">Send me an e-mail, how's it going?</p>
		<a class="contact__a" href="">tangrianekolisnichenco@gmail.com</a>
		<span class="contact__span"> Tel: (44) 99964-0744</span>
	</div>

	<div class="contact__icons">
	 <a class="icons__a" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	 <a class="icons__a" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
	 <a class="icons__a" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
	 <a class="icons__a" href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
	 </div>

</section>
</div>



