
	
<section id="contact__section">
 <div class="contato">
	<div class="contatc">
		<h1 class="contact__h1">CONTACT</h1>
		<p class="contact__p">Send me an e-mail, how's it going?</p>
		<a class="contact__a" href="">tangrianekolisnichenco@gmail.com</a>
		<span class="contact__span"> Tel: (00) 9999-9999</span>
	</div>

	<div class="contact__icons">
	 <a class="icons__a" target="_blank" href="https://www.facebook.com/tanguva1">
		<i class="fa fa-facebook-square" aria-hidden="true"></i>
	</a>
	 <a class="icons__a" target="_blank" href="https://github.com/tangriane">
		<i class="fa fa-github" aria-hidden="true"></i>
	</a>
	 <a class="icons__a" target="_blank" href="https://www.instagram.com/tangriane_k/">
		<i class="fa fa-instagram" aria-hidden="true"></i>
	</a>
	 <a class="icons__a" target="_blank" href="https://twitter.com/Tangriane_K">
		<i class="fa fa-twitter-square" aria-hidden="true"></i>
	</a>
	 <a class="icons__a" target="_blank" href="https://codepen.io/tangriane/">
		<i class="fa fa-codepen" aria-hidden="true"></i>
	</a>
	</div>

</section>
</div>



