

<section id="experience">
 <div class="exp__section">
	<h1 class="exp__h1"><span class="exp__span">#3</span> EXPERIENCE</h1>
      <div class="timeline">

                  <div class="exp__barra">
                    <div> 2012 </div>
                    <div>QI - Informatica</div>
                    <div> resumo de como foi trabalhar dando aula para crianças e idosos</div>
                  </div>

                    <div class="kb-connector">
                        <div class="bola-barra"></div>
                        <div class="linha-barra"></div>

                    </div>

                    <div class="posicao-barra paraiso">
                     <div>
                      2014
                    </div>
                   <div>
                      Paraiso Moda Bebê 
                     </div>
                    </div>

                    <div class="kb-connector">
                        <div class="bola-barra"></div>
                        <div class="linha-barra "></div>
                    </div>
                  <div class="posicao-barra prestige">
                     <div>2016</div>
                     <div>Prestige</div>
                 </div>
                    <div class="kb-connector">
                        <div class="bola-barra"></div>
                        <div class="linha-barra "></div>
                    </div>
               <div class="kb-connector">
                        <div class="finale"></div>
                       
                    </div>
             
                
            
               
        </div>


    </div>
</section>




<div class="backExp"></div>
