<header class="header__nav">


	
	<div class="logo__div">
	<a class="logo__link" href="#">
	 <img class="logo__header" src="assets/img/logo.png">
	 </a>
	</div>

	<nav class="nav__conteudo">
		<a class="nav__link" href="#">Home</a>
		<a class="nav__link" href="#professinal">Proficional</a>
		<a class="nav__link" href="#experience">Experience</a>
		<a class="nav__link" href="#portfolio">Portfolio</a>
		<a class="nav__link" href="/blog">Blog</a>
		<a class="nav__link" href="#contact">Contact</a>
	</nav>
<a href="#menu-toggle"  class="home__menu none" id="menu-toggle">
	<span>
		<i class="fa fa-bars" aria-hidden="true"></i>
	</span></a>
	
</header>