
<canvas class="trianglecanvas">
</canvas>
<main id="home" class="home__main">

	<div class="home__conteudo">
		<h1 class="home__h1">
			hello
			<span class="home__span">,</span>
			<br> I
			<span class="home__span">'</span>M
			<br>tangriane
			<span class="home__span">.</span>
		</h1>
		<h2 class="home__h2">
			web developer
		</h2>
	</div>

</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
<script type="text/javascript" src="assets/js/scripts.min.js"></script>

