
  <section id="sobre__section">
  
    <a href="#"> <img class="sobre__logo" src="assets/img/logo.png"></a>
  
    <p class="sobre__p">MY FIRST CONTACT WITH DEVELOPMENT WAS IN A COURSE</p>
    <p class="sobre__p">WEB DESIGN WHERE I DID MY FIRST</p>
    <p class="sobre__p">"HELLO WORLD"</p>
    <p class="sobre__p">AND IT WAS INCREDIBLE! AFTER THAT I DID NOT STOP ...</p> 
     <h1 class="sobre__h1"><span class="sobre__span">#1 </span>Skill</h1>
   <!-- <button class="sobre__button">DOWLOAD RESUME</button>-->
<div class="sobre__skill">
 

    <div class="cover">
        <div class="box3d pic1">
          &nbsp;
        </div>
        <div class="box3d pic2">
          &nbsp;
        </div>
      </div>
      <div class="cover">
        <div class="box3d pic3">
          &nbsp;
        </div>
        <div class="box3d pic4">
          &nbsp;
        </div>
      </div>
      <div class="cover">
          <div class="box3d pic5">
            &nbsp;
          </div>
          <div class="box3d pic6">
            &nbsp;
          </div>
        </div>
        <div class="cover">
            <div class="box3d pic7">
              &nbsp;
            </div>
            <div class="box3d pic8">
              &nbsp;
            </div>
          </div>
          <div class="cover">
              <div class="box3d pic9">
                &nbsp;
              </div>
              <div class="box3d pic10">
                &nbsp;
              </div>
            </div>

</section>
<div class="sobre__back"></div>





