
.back-exp{
    background: url(../img/fundo.jpg)  no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;

}
.back-exp {&:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.93),#ab0606);
    opacity: 0.7;
    z-index: 9;
    height: 100vh;  
}
}
.exp__section{
    @extend %flex-direction;
    align-items: center;
    position: absolute;
    top: 300%;
    color: $branco;
    z-index: 11; 
    width: 100%;
    font-family: $font-full;

}

.exp__h1{
    line-height: 4.8em;
    font-size: $tam-h1;
    font-weight: 700;
}
.exp__span{
    color:  rgba(233, 30, 99, 0.64);
}
.exp__h2 {
    line-height: 4em;
    font-size: $tam-h2;
    padding-bottom: 5%;
}
/**barra de progresso**/
.exp__barra {
       position: absolute;
    right: 27%;
    width: 20%;
}
.linha-barra {
    width: 3px;
    height: 8rem;
    background: #aa1b47;
    margin: auto;
    z-index: 1;
    right: 18px;
}
.bola-barra{
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background-color: #aa1b47;
    margin: 0 -6px 0 auto;
    position: relative;
    z-index: 2;
}
.finale{
    width: 0.7rem;
    height: 0.2rem;
    background-color: #aa1b47;
    margin: -6px;
    position: relative;
    z-index: 2;
}

.wtimeline{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.posicao-barra{
    position: absolute;
    right: 27%;
    width: 20%;
}
.paraiso{
    top: 55%;
    left: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prestige{
   top: 78%;
   right: 27%;
}

.container{
    width: 1170px;
}
.container:before{
    display: table;
    line-height: 0;
    content: "";
}
.linha-fluid{
    width: 100%;
}
.linha-fluid:before, .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}
.timeline{
    list-style: none;
    padding: 10px 0 0px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #7cac3c;
    left: 50%;
    margin-left: -1.5px;
}
.timeline-invertid{
    margin-bottom: 20px;
    position: relative;
}
.timeline-badge{
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 25px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: -12px;
    /* left: 50%; */
    margin-left: -40px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.primary {
    background-color: #7CAC3C !important;
}
.timeline-info-mes {
    display: table;
    font-family: 'Lato';
    margin: 0 auto;
    padding: 14px; 
}
.ano_post {
    display: block; 
}
.timeline-panel {
    float: right;
}
.timeline-head{
    padding-left: 8px;
}
.info{
    color: #494949;
    font-family: 'Lato';
    font-size: 41px;
    font-weight: 500; 
}
.timelist-lista{
    display: block; 
}