---
layout: default
---


<main class="post_content">
  <article class="post">

    <div class="header">
      <div class="post_image">
        <h1   style="margin-top: 0px; opacity: 1;">{{page.title}}</h1>
      </div>
    </div> 

    <div class="entry_content">
        <p class="post_meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{page.date | date: '%Y, %b %d'}}</p>
    <div class="tamanho">  {{page.content | markdownify}}</div>

      <div class="post_wrapper">
        <footer class="post_footer cf">
          <div class="post_share">
            <span>Share:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
        </footer>
      </div>
      
    </div>
     
   
  </article>
  {% include disqus_comments.html %}


  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6%}
          {% if post.title %}
          <a href="{{ root_url }}{{ post.url }}" class="recent_item" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
              <img class="recent_image" src={{ "../assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
              <div class="overlay">
            <span class="recent_span">{{ post.title }}</span>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>  
  
  
  
</main> <!-- End Section Post Content -->


