/**RESET**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/************************CONTEUDO*******************/


    
p {
    text-transform: uppercase;
}


$cor-nav: #8b95a3;
$cor-detalhe: #e1276d;
$font-full: 'Lato', sans-serif;
$cor-padrao: #333b50;
$branco: #fff;

/**HOME**/
.header__teste{
    background-color:transparent;
    position: absolute;
   align-items: center;
   padding: 1% 0;
   display: flex;
   width: 100%;
   z-index: 9999;
   transition: all 0.8s cubic-bezier(.25, .8, .25, 1) 0s;
 }
.header__nav{
    display: none;
  background-color: $cor-padrao;
  box-shadow: 0px 2px 10px #544747 inset;
  align-items: center;
  padding: 1% 0;
  display: flex;
  width: 100%;
  z-index: 9999;
  position: fixed;
  transition: all 0.8s cubic-bezier(.25, .8, .25, 1) 0s;
}

.logo__header{
  width: 40px;
  height: 40px;
  align-items: center;
}
.logo__div{
  flex-grow: 5;
    text-align: center;
}

.nav__conteudo{

	
    flex-grow: 3;
    align-items: center;
    text-align: start;

}


.nav__link{
    
     color: $cor-nav;
     font-family: $font-full;
     text-decoration: none;
     transition: 0.5s;
}
.nav__conteudo .nav__link:not(:last-child){
    margin-right: 21px;
}

.nav__link:hover{
  color:white;
	transition: 0.3s;
	
}


.home__main{
	
	/*position: relative;*/
	/*padding:10%;*/
     height: 100vh;
    justify-content: center;
    align-items: center;
    /*background-color: $cor-padrao;*/
    display: flex;
 /* z-index: 10;*/
}
.home__h1{
	color: #fff;
    font-size: 6em;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
}
.home__h2{
	color: #fff;
    font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	line-height: 4.8em;

}

.home__conteudo{
	display: flex;
	flex-direction: column;
	width: 57%;
}
.home__span{
  color: $cor-detalhe;
}
.none{
  display: none;
}

/**HOME RESPONSIVO**/

 @media only screen and (max-device-width:480px){
 .home__h1{
  font-size: 8em;
 }

 .home__conteudo{
  width: 100%;
  margin: 100px;
 }
 .logo__header{
    width: 150px;
    height: 150px;
    align-items: center;
    margin: 15px 0 15px;
    }

  .nav__conteudo{
    display: none;
  }
  .none{
     display: block;
  }
  .home__menu .fa {
    font-size: 6em;
    padding: 26px 32px 26px 32px;
    color: #fff;
    cursor: pointer;
}
.home__menu{
    text-align: center;
    margin-right: 63px;
}
.logo__div{
    flex-grow: 1;
    text-align: left;
    margin-left: 82px;

  }
  .header__nav{
    position: relative;
  }
}


.sobre__section{
	  display: flex;
    justify-content: center;
    width: 100%;
    top: 100%;
    z-index: 11;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: $branco;
    font-family: $font-full;
}

.sobre__logo{
	width: 100px;
  height: 100px;
  margin-bottom: 19%;
  margin-top: 30%;
}
.sobre__p{
	line-height: 1.8em;
}
.sobre__button{
    border: 1px solid #e0006d;
    background-color: transparent;
    color: #fff;
    padding: 2%;
    margin-top: 7%;
    transition: 0.2s ease 0.1s;

}
.sobre__button:hover {
    border: 1px solid  #e0006d;
    background-color:  #e0006d;
    color: $cor-detalhe;

}

.sobre__back{
	background: url(/assets/img/proficional.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;

}
.sobre__back {&:before {
	content: '';
    position: absolute;
    
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
    z-index: 9;
    height: 100vh;
}
}

.sobre__h1{

  font-size: 3em;
  font-weight: 700;
      line-height: 3em;
   
    padding-bottom: 30px;
}
.sobre__span{
  color:  rgba(233, 30, 99, 0.64);
}

$color-back: #efefef;
$color-bar: #e91e63;


.avatar-container{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0 1rem;
  border: none;
  background: $color-back;
  cursor: pointer;

  .avatar{
    display: block;
    margin: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 100;
    background-color: #fff;
     img{
      width: 100%;
      height: auto;
          
    }
  }

  .info{
    display: none;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba($color-bar,.2);
    color: white;
    z-index: 1000;
    
    &.js-active{
      display: table;
    }

    .info-inner{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
}

$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 1 through $loops {

  .p-#{$i*$step} {

    @if $i < $half {
      $nextdeg: 90deg +  ( $increment * $i ) ;

      background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient($nextdeg, $color-bar 50%, $color-back 50%, $color-back);

    } @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );

      background-image: linear-gradient($nextdeg, $color-bar 50%, transparent 50%, transparent), linear-gradient(270deg, $color-bar 50%, $color-back 50%, $color-back);

    }    
  }

}

/*********BARRA DE PROGRESSO **********/


.progressbar{
    position: relative;
    display: block;
    width: 517px;
    /* height: 0px; */
    padding: 1px 10px;
    margin: 26px auto;

}
.progressbar:before{
    position:absolute;
    display:block;
    content:"";
    width:558px;
    height:18px;
    top:10px;
    left:20px;
}
.progressbar p {
    position: relative;
    top: 10px;
    right: 42px;
    
}
.bar {
  position:absolute;
  display:block;
  width:0px;
  height:11px;
  top:12px;
  left:22px;
  background: rgb(126,234,25);
  background: -moz-linear-gradient(top,  rgba(126,234,25,1) 0%, rgba(83,173,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,234,25,1)), color-stop(100%,rgba(83,173,0,1)));
  background: -webkit-linear-gradient(top,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eea19', endColorstr='#53ad00',GradientType=0 );
  -webkit-box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  overflow:hidden;
}

.bar.color3 {
  background: rgb(232,25,87);
  background: -moz-linear-gradient(top,  rgba(232,25,87,1) 0%, rgba(170,0,51,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,25,87,1)), color-stop(100%,rgba(170,0,51,1)));
  background: -webkit-linear-gradient(top,  rgba(232,25,87,1) 0%,rgba(170,0,51,1) 100%);
  background: -o-linear-gradient(top,  rgba(232,25,87,1) 0%,rgba(170,0,51,1) 100%);
  background: -ms-linear-gradient(top,  rgba(232,25,87,1) 0%,rgba(170,0,51,1) 100%);
  background: linear-gradient(to bottom,  rgba(232,25,87,1) 0%,rgba(170,0,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81957', endColorstr='#aa0033',GradientType=0 );
  -webkit-box-shadow: 0px 0px 1px 0px rgba(232, 25, 87, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 1px 0px rgba(232, 25, 87, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.bar:before {
  position:absolute;
  display:block;
  content:"";
  width:606px;
  height:150%;
  top:-25%;
  left:-25px;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.01) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(50%,rgba(255,255,255,0.01)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.bar:after {
  position:absolute;
  display:block;
  content:"";
  width:64px;
  height:16px;
  right:0;
  top:0;

  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 98%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(98%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.bar span {
  position:absolute;
  display:block;
  width:100%;
  height:64px;
  -webkit-border-radius:16px;
  border-radius:16px;
  top:0;
  left:0;

  -webkit-animation: sparkle 1500ms linear infinite;
    -moz-animation: sparkle 1500ms linear infinite;
    -o-animation: sparkle 1500ms linear infinite;
    animation: sparkle 1500ms linear infinite;
  opacity:0.2;
}
.label {
  font-family: Lato,sans-serif;
  position:absolute;
  display:block;
  width:40px;
  height:30px;
  line-height:0px;
  top:38px;
  left:0px;
  font-weight:bold;
  font-size:14px;
  color:#fcc7ff;
  text-align:center;
 
}
.label span {
  position:absolute;
  display:block;
  width:12px;
  height:9px;
  top:-9px;
  left:14px;
  background:transparent;
  overflow:hidden;
}

@-webkit-keyframes sparkle {
  from {background-position: 0 0;}
  to {background-position: 0 -64px;}
}
@-moz-keyframes sparkle {
  from {background-position: 0 0;}
  to {background-position: 0 -64px;}
}
@-o-keyframes sparkle {
  from {background-position: 0 0;}
  to {background-position: 0 -64px;}
}
@keyframes sparkle {
  from {background-position: 0 0;}
  to {background-position: 0 -64px;}
}
.portfolio__section{

    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: #fff;
    align-content: center;
    width: 100%;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: #333b50;
    height: 100vh;
}
.portfolio__h1{
    line-height: 1.8em;
    font-size: 3em;
    font-weight: 700;

}
.portfolio__span{
    color:  rgba(233, 30, 99, 0.64);
}
.portfolio__h2{
    line-height: 4em;
    font-size: 1em;
    padding-bottom: 5%;

}

.port a {
    text-decoration: none;
    color: rgba(244, 63, 255, 0.77);
    margin-left: 12px;

}
.portfolio__project img {
    width: 256px;
    height: 256px;
    margin: 0px;
    opacity: 1.0; 
}
.portfolio__project img:hover{
    opacity: 0.6; 
    transition: opacity 0.5s;
}
.portfolio__project a {
   
    margin: 0px;
}

.portfolio__project{
     box-shadow: 1px 3px 32px 8px rgb(32, 37, 51);
}



/**EXPERIENCE**/

.backExp{
    background: url(../img/fundo.jpg)  no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;

}
.backExp {&:before {
    content: '';
    position: absolute;
   /* top: 381%;*/
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.93),#ab0606);
    opacity: 0.7;
    
    z-index: 9;
    height: 100vh;
}
}
.exp__section{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300%;
    display: flex;
    color: #fff;
    z-index: 11; 
    align-content: center;
    width: 100%;
    justify-content: center;
    font-family: 'Lato', sans-serif;

}

.exp__h1{
    line-height: 4.8em;
    font-size: 3em;
    font-weight: 700;
}
.exp__span{
    color:  rgba(233, 30, 99, 0.64);
}
.exp__h2 {
    line-height: 4em;
    font-size: 1em;
    padding-bottom: 5%;
}
/**barra de progresso**/
.exp__barra {
       position: absolute;
    right: 27%;
    width: 20%;
}
.linha-barra {
    width: 3px;
    height: 8rem;
    background: #aa1b47;
    margin: 0 0 0 auto;
    z-index: 1;
    right: 18px;
}
.bola-barra{
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background-color: #aa1b47;
    margin: 0 -6px 0 auto;
    position: relative;
    z-index: 2;
}
.finale{
    width: 0.7rem;
    height: 0.2rem;
    background-color: #aa1b47;
    margin: 0 -6px 0 auto;
    position: relative;
    z-index: 2;
}

.timeline{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.posicao-barra{
    position: absolute;
    right: 27%;
    width: 20%;
}
.paraiso{
    top: 55%;
    left: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prestige{
   top: 78%;
   right: 27%;
}



/**CONTATO**/
 .contato{
 	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;  
    align-content: stretch;
    text-align: center;
   
    background-color: #333b50;
    height: 94%;
    width: 100%;
    box-shadow: 0px 1px 25px 4px rgba(47,46,46,0.3);
 }
.contatc{
   flex-direction: column;
    justify-content: center;
    display: flex;
  font-family: 'Lato', sans-serif;
  height: 60%;
    color: #fff;
}

.contact__h1{
	font-size: 2em;
	line-height: 3em;

}
.contact__p{
	line-height: 1.8em;

}
.contact__a{
	font-size: 0.85em;
	text-decoration: none;
	color: #BEC7D5;
}
.contact__span{
    line-height: 3em;
    padding-bottom: 4%;
    font-size: .85em;
    color: #BEC7D5;
}
.contact__icons{
  font-size: 0.85em;
  padding-bottom: 4%;
}
.contact__icons{
	display: flex;
	align-items: center;
	justify-content: center;
    padding-bottom: 3%;

}
.icons__a:not(:last-child) {
    margin-right: 12px;
}
.icons__a {
    color: rgb(250, 250, 250);
    transition: color .4s;
}
.icons__a:hover {
    color:rgb(112, 114, 117);
}
.contact__icons i{
	font-size: 2em;
}

/*CONTATO MOBILE*/





/**RODAPE**/
.rodape{
    box-shadow: 0 1px 11px rgb(53, 49, 49) inset;
    background-color: #333b50;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 6% 2% 2%;
}
.logo img{
	width: 40px;
	height: 40px;
}
.copy{
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	color: #BEC7D5;
}


/*mobile rodape*/
@media screen and (max-width: 480px){
	.rodape{
	background-color: #747a88;
    width: 100%;
    display: grid;
    align-items: center;
}
 	.logo{
	 display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
 	}
	.logo img{
	width: 35px;
	height: 35px;	
	}
	.copy{
		margin-bottom: 1em;
	}

}




/*******************testes***************************************/

.cover {
    width: 100px;
    height:100px;
   position:relative;  
   border-radius: 50%;
   overflow:hidden;
   border: 2px solid #a9796a;
   float:left;
   margin:5px;
   transition: all 1s;
 -moz-transition: all 1s; /* Firefox 4 */
 -webkit-transition: all 1s; /* Safari and Chrome */
 -o-transition: all 1s; /* Opera */
 }
 
 .cover:hover{
    border-color: rgba(233,30,99,.64);
 }
 
 .box3d {
    width: 100%;
    height:100px;
   border-radius: 50%;
   position:absolute;
   top: 0px;
   left: 0px;
   transition: all 1s;
 -webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
 -webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -ms-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
      -o-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
         transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -webkit-transform-style: preserve-3d;
 }
 
 .box3d:first-child {
    text-align:right;
   -webkit-transform: rotateY(180deg); /* Safari and Chrome */
   -moz-transform: rotateY(180deg);
 }
 
 .cover:hover .box3d{
     transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg); /* Safari and Chrome */
   -moz-transform: rotateY(180deg); /* Firefox */ 
 }
 
 .cover:hover .box3d:first-child{
    z-index:1;  
    transform: rotateY(0deg);
   -webkit-transform: rotateY(0deg); /* Safari and Chrome */
   -moz-transform: rotateY(0deg);
 }
 
 .pic1 {
    background: url('/assets/img/giy.png') no-repeat center center; 
 }
 
 .pic2 {
    background: url('/assets/img/git.png') no-repeat center center; 
 }
 
 .pic3 {
    background: url('/assets/img/css.png') no-repeat center center; 
 }
 
 .pic4 {
    background: url('/assets/img/git.png') no-repeat center center; 
 }
 
 




